body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .slider-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc; 
    border-radius: 8px; 
   
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease; 
    background-size: cover;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  .card {
    position: relative;
  }
  
  img {
    width: 100%;
    height: auto;
    margin:0;
    padding: 0;
  }
  nav {
    background-color: green;
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
      display: inline-block;
      list-style: none;
      margin: 0 20px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #555;
}

