body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #486F38;
    color: #fff;
    padding: 20px;
  }

  img {
    max-width: 100%; /* limit the maximum width of the image to 100% of its parent element */
    height: auto; /* adjust the height of the image proportionally to its width */
  }


  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    color: #333;
  }
  
  .article {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .article h3 {
    margin: 0;
  }
  
  .article p {
    color: #666;
  }
  .article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .article a {
    color: #333;
    text-decoration: none;
  }
  
  footer {
    background-color: #486F38;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  footer {
    background-color: #486F38; /* use the same green color as the header */
    color: #fff; /* use white color for the text */
    padding: 20px; /* add some space inside the footer */
    margin-top: 20px; /* add some space above the footer */
    text-align: center; /* center the text horizontally */
  }
  
  footer p {
    margin: 0; /* remove the default margin from the paragraphs */
  }
  
  footer a {
    color: #fff; /* use the same color as the paragraphs */
    text-decoration: none; /* remove the underline from the links */
  }